extends ../layouts/main
include modals/createBlueprint
include modals/createApplication

block config
    - var headerTitle = "Node.js Applications"
    // TODO Remove and replace with actual var
    - var blueprints = [{id: 1, name: "Demo", repoId: 1, repoName: "testrepo", branch: "master"}]
    - var applications = [{id: 1, name: "TestDemo", isRunning: true, blueprint: blueprints[0], path: "path", script: "demo.js"}]


block content
    h2.page-header
        span(style="margin-right: 10px;")= ` Blueprints (${blueprints.length})`
        .btn.btn-primary.newBlueprint(data-toggle="modal" data-target="#newBlueprintModal") New Blueprint
    .row
        each blueprint in blueprints
            .col-md-12
                .col-sm-6.col-lg-4
                    .box.box-solid.blueprint(id=blueprint.id)
                        .box-header.with-border
                            h3.box-title= blueprint.name
                            .pull-right.box-tools
                                a.btn.btn-box-tool.destroy(href="#" data-id=blueprint.id)
                                    i.fas.fa-trash
                        .box-body
                            p= "Base Repository: " + blueprint.repoName
                            hr
                            button.btn.btn-block.btn-success.newApp(data-toggle="modal" data-target="#newAppModal" data-id=blueprint.id data-name=blueprint.name) New Application


    h2.page-header
        span(style="margin-right: 10px;")= ` Applications (${blueprints.length})`
    .row
        each application in applications
            .col-md-12
                .col-sm-6.col-lg-4
                    .box.box-solid.application(id=application.id)
                        .box-header.with-border
                            h3.box-title= application.name
                            .pull-right.box-tools
                                a.btn.btn-box-tool(href="#", target="_blank")
                                    i.fas.fa-link.link(data-id=application.id)
                                a.btn.btn-box-tool(href="/node/" + slugify(application.name))
                                    i.fas.fa-wrench.edit
                        .box-body
                            p= "Base Blueprint: " + application.blueprint.name
                            hr
                            label.switch
                                input.activation(type="checkbox" checked=application.isRunning)
                                span.slider


    +createBlueprintModal()
    +createApplicationModal()

block scripts
    script.
        $(document).ready(function(){
            $('.blueprint .destroy').on('click', function(e) {
                e.preventDefault();
                if(confirm("Are you sure you want to delete this blueprint?")) {
                    $.ajax({
                        url: '/api/v1/blueprint/' + $(this).data('id'),
                        method: 'DELETE',
                        success: function(res) {
                            location.reload();
                        },
                        error: function(err) {
                            // TODO Error Handling
                        }
                    });
                }
            });
        })