extends ../layouts/main

block config
    - var headerTitle = "Node.js Applications"


block content
    .row
        .col-md-12
            .btn.btn-success.btn-block(data-toggle="modal" data-target="#createContainerModal") Create Application
    h2.page-header Created Applications
    .row
        .col-md-12
            if container
                each containerObject in container
                    .col-sm-6.col-lg-4
                        .box.box-solid(id=containerObject._id)
                            .box-header.with-border
                                a(href="/node/" + slugify(containerObject.name))
                                    h3.box-title= containerObject.name
                                .pull-right.box-tools
                                    a.btn.btn-box-tool(href=containerObject.proxyLink, target="_blank")
                                        i.fas.fa-link
                                    // TODO Add Details page
                                    a.btn.btn-box-tool(href="#", target="_blank")
                                        i.fas.fa-wrench
                            .box-body
                                p= "Base Repository: " + containerObject.repoName
                                hr
                                label.switch
                                    // TODO Add Running or not
                                    input.activation(type="checkbox" checked=containerObject.isRunning)
                                    span.slider
    .modal.fade.in#createContainerModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title Create Application

                // TODO Call with selected Repo
                form(action="#" method="post", class="createApp")
                    .modal-body
                        .form-group
                            label Choose your Project
                            select.form-control.repo(name="repo")
                                for repo in repositories
                                    option(value=repo.id)= repo.name
                            label Name
                            input.form-control(type="text" name="name" placeholder="Name...")
                            label Location of your Start-Script
                            input.form-control(type="text" name="startScript" placeholder="Start-Script...")

                    .modal-footer
                        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
                        button.btn.btn-primary.createProj Application

block scripts
    script.
        $(document).ready(function(){
          $('.createApp').on('submit', function(e) {
            e.preventDefault();

            let repoId = $('.createApp .repo option:selected').val();
            console.log(repoId);
            $.ajax({
              url: '/api/v1/container/' + repoId,
              method: 'POST',
              data: $(this).serialize(),
              success: function(res) {
                location.reload();
              },
              error: function(err) {
                // TODO Error Handling
              }
            })
          });
        })