mixin createBlueprintModal
    .modal.fade.in#newBlueprintModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title New Blueprint

                form.createBlueprint(action="#" method="post")
                    .modal-body
                        .form-group
                            label(for="createBlueprintName") Name
                            input.form-control#createBlueprintName(type="text" name="name" value=repositories[0].name.toLowerCase() placeholder="Name...")
                        .form-group
                            label Choose your Project
                            select.form-control#createBlueprintRepo(name="repo")
                                each repo in repositories
                                    option(value=repo.id)= repo.name
                        .form-group
                            label Branch Name
                            select.form-control#createBlueprintRepo(name="repo")
                                each branch in repositories[0].branches
                                    option(value=branch selected=(branch === 'master'))= branch
                    .modal-footer
                        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
                        button.btn.btn-primary Create Blueprint

block append scripts
    script.
        $(document).ready(function() {
            const branches = !{JSON.stringify(branches)};

            $('#createBlueprintRepo').on('change', function(e) {
                let repo = $(this).find('option:selected').first();


                $('#createBlueprintName').val(repo.text().toLowerCase());
                $('#createBlueprintBranch').empty();

                for(branch in branches[repo.val()]) {
                    $('#createBlueprintBranch').append(`<option value='${branch}'> ${branch}`);
                }
            });
            $('.createBlueprint').on('submit', function(e) {
                e.preventDefault()
                $(this).find('button').attr("disabled", true);

                $.ajax({
                    url: '/api/v1/blueprint/',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(res) {
                        location.reload();
                    },
                    error: function(err) {
                        // TODO Error Handling
                    }
                })
            });
        });