//-
 This file is part of The HostLab Software.

 Copyright 2018
     Adrian Beckmann, Denis Paris, Dominic Claßen,
     Jan Wystub, Manuel Eder, René Heinen, René Neißer.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

block append config
    - let userObj = user.email.split('@')

mixin createApplicationModal
    .modal.fade.in#newAppModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal")
                        i.fas.fa-times
                    h4.modal-title Create Application

                form.createApplication(action="#" method="post", class="createApp")
                    .modal-body
                        h4 Base Configuration
                        .form-group
                            label Select a Repository
                            select.form-control#createApplicationRepo(name="repo")
                                each repo in repositories
                                    option(value=repo.id)= repo.name
                        .form-group
                            label Select a Branch
                            select.form-control#createApplicationBranch(name="repo")
                                each branch in repositories[0].branches
                                    option(value=branch selected=(branch === 'master'))= branch
                        .form-group
                            label Select a Run-Script
                            select.form-control#createApplicationScripts(name="scriptIndex")
                        .form-group
                            label(for="createAppMountPath") Select a Mount Path
                            .input-group
                                span.input-group-addon= `${hostlabUrl}/${userObj[1]}/${userObj[0]}/`
                                input.form-control#createApplicationMountPath(type="text" name="path" placeholder="my-project" required)
                        hr
                        h4 Additional Features
                        .checkbox
                            label
                                input(type="checkbox", name="needsMongo")
                                | Attach MongoDB
                    .modal-footer
                        button.btn.btn-default.btn-flat(type="button") Cancel
                        button.btn.btn-primary.btn-flat(type="submit") Create Application

block append scripts
    script.
      $(document).ready(function() {
        refreshScripts();

        function refreshScripts() {
          $.get(`/api/v1/repository/${$('#createApplicationRepo').val()}/${$('#createApplicationBranch').val()}/scripts`, function(data) {
            $('#createApplicationScripts').empty();

            data.forEach(function(script, idx) {
              $('#createApplicationScripts').append($('<option>', {
                value: idx,
                selected: script === 'start',
                text: script
              }));
            });
          });
        }

        const branches = !{JSON.stringify(branches)};

        $('#createApplicationRepo').on('change', function(e) {
          let repo = $(this).find('option:selected').first();

          $('#createApplicationBranch').empty();
          branches[repo.val()].forEach(function(branch) {
            $('#createApplicationBranch').append($('<option>', {
              value: branch,
              selected: branch === 'master',
              text: branch
            }));
          });

          refreshScripts();
        });

        $('#createApplicationBranch').on('change', function(e) {
          e.preventDefault();

          refreshScripts();
        });

        $('.createApplication').on('submit', function(e) {
          e.preventDefault()
          let modalBtn = $(this).find('button[type="submit"]');

          modalBtn.attr("disabled", true).html('<i class="fas fa-spinner fa-pulse" style="margin-right: 4px;"></i><span>Creating Application...</span>');

          $.ajax({
            url: '/api/v1/application/',
            method: 'POST',
            data: $(this).serialize(),
            success: function() {
              location.reload();
            },
            error: function(xhr) {
              $('#alerts').empty().append(`<div class="alert alert-danger">Error: ${xhr.responseJSON.message}`);
              modalBtn.attr("disabled", false).text("Create Application");
              $('#newAppModal').modal('hide');
            }
          })
        });
      });
