extends layouts/main
include mixins/box2

block content
    h1 Node.js Applications
    .row
        .col-md-12
            if (message.error)
                .alert.alert-danger
                    p= message.error
            if (message.info)
                .alert.alert-success
                    p= message.info
    .row
        .col-md-12
            .btn.btn-success(data-toggle="modal" data-target="#createContainerModal") Start Container
    .row
        .col-md-12
            if (container)
                each cont in container
                    .col-sm-6.col-lg-3
                        +box2(`${cont.name}`, cont.id, [`Status: ${/*app.status*/'Running'}`] , '#')
                    .row
                    .col-sm12.col-lg-12
                        h3 Console
                        textarea.console(name="console",readonly) #{cont.logs}

    .modal.fade.in#createContainerModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title Create Application

                form(action="/api/v1/container/1", method="post")
                    .modal-body
                        .form-group
                            label Choose your Project
                            select.form-control.projectSelect
                                for repo in repositories
                                    option #{repo.name}
                            label Hostname
                            input.form-control(type="text" name="name" placeholder="Hostname...")
                            label Location of your Start-Script
                            input.form-control(type="text" name="startScript" placeholder="Start-Script...")

                    .modal-footer
                        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
                        button.btn.btn-primary.createProj Create Project

block scripts
    script.
      $(function() {
        $('.activation').on('change', function() {
          var containerID = $(this).attr('id');
          if ($(this).is(':checked')) {
            console.log('Start container:', containerID);

            // Ajax to start container
            $.ajax({
              url: '/api/v1/container/' + containerID,
              method: 'POST',
              success: function(response){

              },
              error: function(err){

              }
            })
          }
          else {
            console.log('Stop container:', containerID)

            // Ajax to stop container
            $.ajax({
              url: '/api/v1/container/' + containerID,
              method: 'DELETE',
              success: function(response) {

              },
              error: function(err) {

              }
            })
          }
        })
      });




