extends layouts/main
include mixins/box2

block content
    h1 Node.js Applications
    .row
        .col-md-12
            if (message.error)
                .alert.alert-danger
                    p= message.error
            if (message.info)
                .alert.alert-success
                    p= message.info
    .row
        .col-md-12
            .btn.btn-success.btn-block(data-toggle="modal" data-target="#createContainerModal") Start Container
    .row
        .col-md-12
            if (container)
                each cont in container
                    .col-sm-6.col-lg-3
                        +box2(`${cont.name}`, cont.id, [`Status: ${/*app.status*/'Running'}`] , '#')
                    .row
                    .col-sm12.col-lg-12
                        h3 Console
                        textarea.console(name="console",readonly) #{cont.logs}

    .modal.fade.in#createContainerModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title Create Application

                // TODO Call with selected Repo
                form(action="#" method="post", class="createApp")
                    .modal-body
                        .form-group
                            label Choose your Project
                            select.form-control.repo(name="repo")
                                for repo in repositories
                                    option(value=repo.id)= repo.name
                            label Name
                            input.form-control(type="text" name="name" placeholder="Name...")
                            label Location of your Start-Script
                            input.form-control(type="text" name="startScript" placeholder="Start-Script...")

                    .modal-footer
                        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
                        button.btn.btn-primary.createProj Application

block scripts
    script.
        $(document).ready(function(){
          $('.createApp').on('submit', function(e) {
            e.preventDefault();

            let repoId = $('.createApp .repo option:selected').val();
            console.log(repoId);
            $.ajax({
              url: '/api/v1/container/' + repoId,
              method: 'POST',
              data: $(this).serialize(),
              success: function(res) {
                location.reload();
              },
              error: function(err) {
                // TODO Error Handling
              }
            })
          });
        })