include toggle

mixin applicationBox(application)
    .col-sm-6.col-lg-4
        .box.box-solid.application(id=application._id)
            .box-header.with-border
                h3.box-title= application.name
                .pull-right.box-tools
                    a.btn.btn-box-tool(href=application.mountPath, target="_blank")
                        i.fas.fa-link.link(data-id=application._id)
                    a.btn.btn-box-tool(href="/node/" + slugify(application.name))
                        i.fas.fa-wrench.edit
            .box-body
                div= console.log(application.blueprint)
                p= "Base Blueprint: " + application.blueprint.name
                hr
                input.onOffToggle(type="checkbox" checked=application.isRunning data-id=application._id)